{% extends 'pages/base_ch.html' %} {% block section_content %} {% load staticfiles %}
<!-- home section -->
<section id="home">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <!-- <h3>WEB DESIGN / WEB DEVELOPMENT / SOCIAL MEDIA</h3> -->
                <h3>雲端安全 / 雲端效能 / 第三方驗測</h3>
                <h1>Cloud Testing as a Service</h1>
                <hr>
                <a href="#work" class="smoothScroll btn btn-danger">服務項目</a>
                <a href="#contact" class="smoothScroll btn btn-default">連絡我們</a>
                <!-- <a href="#" class="smoothScroll btn btn-default">Testing content</a> -->
            </div>
        </div>
    </div>
</section>
<!-- work section -->
<section id="work">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <strong>01</strong>
                    <h1 class="heading bold">服務項目</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
                    <i class="icon-cloud medium-icon"></i>
                    <h3>雲端安全檢測</h3>
                    <hr>
                    <p>Web/SaaS 安全檢測</p>
                    <p>主機安全掃瞄</p>
                    <p>源碼安全掃瞄</p>
                    <p>主機/網站 滲透測試</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.9s">
                    <i class="icon-mobile medium-icon"></i>
                    <h3>效能測試</h3>
                    <hr>
                    <p>雲端服務效能調教</p>
                    <p>雲端服務承載力</p>
                    <p>雲端服務可用性</p>
                    <!-- <p>item</p> -->
                </div>
				<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
                    <i class="icon-mobile medium-icon"></i>
                    <h3>物聯網雲端驗證評估測試</h3>
                    <hr>
                    <p>閘道承載力</p>
                    <p>訊息 ELT 效能</p>
                    <p>規則引擎承載力</p>
                    <p>資料儲存</p>
                </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
                    <i class="icon-laptop medium-icon"></i>
                    <h3>雲端遷移評估測試</h3>
                    <hr>
                    <p>傳統機房至雲架構</p>
                    <p>私有雲遷移至公有雲</p>
                    <p>雲架構測試</p>
                    <!-- <p>item</p> -->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
                    <i class="icon-compass medium-icon"></i>
                    <h3>雲端運算技術驗證</h3>
                    <hr>
                    <p>多租戶驗證服務</p>
                    <p>跨裝置存取</p>
                    <p>資源池 / 快速彈性擴展</p>
                    <p>多租戶計量服務</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
                    <i class="icon-chat medium-icon"></i>
                    <h3>私有雲解決方案 [即將推出]</h3>

                    <hr>
                    <p>搭建 OpenStack 私有雲測試環境解決方案</p>
                </div>
              <!--   <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
                    <i class="icon-browser medium-icon"></i>
                    <h3>DevOps Testing Solution</h3>
                    <h3>[comming soon]</h3>
                    <hr>
                    <p>Build on open source technologies to help enterprises move from traditional waterfall software development model to agile / DevOps</p>
                </div> -->
            </div>
        </div>
    </div>
</section>
<!-- about section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <div class="section-title">
                    <strong>02</strong>
                    <h1 class="heading bold">關於我們</h1>
                    <hr>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <img src="{% static 'images/about-img.jpg' %}" class="img-responsive" alt="about img">
            </div>
            <div class="col-md-6 col-sm-12">
                <h3 class="bold">雲端檢測科技公司(籌備處)</h3>
                <!-- <h1 class="heading bold">Web Testing Team From Taiwan</h1> -->
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#history" aria-controls="design" role="tab" data-toggle="tab">歷史沿革</a></li>
                    <li><a href="#experience" aria-controls="experience" role="tab" data-toggle="tab">驗測經驗</a></li>
                    <li><a href="#pre_web_site" aria-controls="pre_web_site" role="tab" data-toggle="tab">舊站連結</a></li>
                </ul>
                <!-- tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="history" style="text-align:justify;">
                        <p>經濟部雲端開發測試平台以使用者角度，為產業提供第三方雲端產品安全檢測以及雲端運算技術驗測服務，就技術面擬定採購雲端服務所關心的評估項目（例如資安、大量連線議題）協助雲端業者產品以需求端之角度，進行第三方單位產品驗測，作為產品上市前檢測機會或企業採購評估參考；同時亦協助政府雲及產業雲雲端技術輔導，累計已協助20個大型政府雲及80個產業雲。2017年，本公司於經濟部技術處指導支持下籌備成立，延續過去雲端技術特性驗測能量繼續深化技術，並推出多樣化彈性化測試服務，為雲端服務上線品質把關！</p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="experience">
                        <p>雲服務安全性及效能測試</p>
                        <p>物聯網雲服務評估</p>
                        <p>雲端遷移評估及測試</p>
                        <p>雲計算服務驗證</p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="pre_web_site" style="text-align:justify;">
                        <p>前往舊站 <a href="https://www.cloudopenlab.org.tw/index.do" target="_blank">Cloud Open Lab</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- team section -->
<!-- <section id="team">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="section-title">
					<strong>03</strong>
					<h1 class="heading bold">TALENTED TEAM</h1>
					<hr>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="0.9s">
				<div class="team-wrapper">
					<img src="{% static 'images/team1.jpg' %}" class="img-responsive" alt="team img">
						<div class="team-des">
							<h4>Cindy</h4>
							<h3>Senior Designer</h3>
							<hr>
							<ul class="social-icon">
								<li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a></li>
								<li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a></li>
								<li><a href="#" class="fa fa-dribbble wow fadeIn" data-wow-delay="0.9s"></a></li>
							</ul>
						</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="1.3s">
				<div class="team-wrapper">
					<img src="{% static 'images/team2.jpg' %}" class="img-responsive" alt="team img">
						<div class="team-des">
							<h4>Mary</h4>
							<h3>Core Developer</h3>
							<hr>
							<ul class="social-icon">
								<li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a></li>
								<li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a></li>
								<li><a href="#" class="fa fa-dribbble wow fadeIn" data-wow-delay="0.9s"></a></li>
							</ul>
						</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="1.6s">
				<div class="team-wrapper">
					<img src="{% static 'images/team3.jpg' %}" class="img-responsive" alt="team img">
						<div class="team-des">
							<h4>Linda</h4>
							<h3>Manager</h3>
							<hr>
							<ul class="social-icon">
								<li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a></li>
								<li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a></li>
								<li><a href="#" class="fa fa-dribbble wow fadeIn" data-wow-delay="0.9s"></a></li>
							</ul>
						</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="1.6s">
				<div class="team-wrapper">
					<img src="{% static 'images/team4.jpg' %}" class="img-responsive" alt="team img">
						<div class="team-des">
							<h4>Sandar</h4>
							<h3>Accountant</h3>
							<hr>
							<ul class="social-icon">
								<li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a></li>
								<li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a></li>
								<li><a href="#" class="fa fa-dribbble wow fadeIn" data-wow-delay="0.9s"></a></li>
							</ul>
						</div>
				</div>
			</div>
		</div>
	</div>
</section> -->
<!-- portfolio section -->
<div id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <strong>03</strong>
                    <h1 class="heading bold">合作案例介紹</h1>
                    <hr>
                </div>
                <!-- ISO section -->
                <div class="iso-section">
                    <ul class="filter-wrapper clearfix">
                        <li><a href="#" data-filter="*" class="selected opc-main-bg">All</a></li>
                        <li><a href="#" class="opc-main-bg" data-filter=".cloud">雲服務</a></li>
                        <li><a href="#" class="opc-main-bg" data-filter=".iot">物聯網</a></li>
                        <li><a href="#" class="opc-main-bg" data-filter=".ivandv">第三方驗測</a></li>
                        <li><a href="#" class="opc-main-bg" data-filter=".consulting">顧問服務</a></li>
                    </ul>
                    <div class="iso-box-section wow fadeIn" data-wow-delay="0.9s">
                        <div class="iso-box-wrapper col4-iso-box">
                            <div class="iso-box cloud col-lg-4 col-md-4 col-sm-6">
                                <a href="{% static 'images/portfolio-cloud-hundred_plus-case.pdf' %}" data-lightbox-gallery="portfolio-gallery"><img src="{% static 'images/portfolio-cloud-hundred_plus.jpg' %}" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box iot col-lg-4 col-md-4 col-sm-6">
                                <a href="{% static 'images/portfolio-iot-wavegis-case.pdf' %}" data-lightbox-gallery="portfolio-gallery"><img src="{% static 'images/portfolio-iot-wavegis.jpg' %}" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box iot col-lg-4 col-md-4 col-sm-6">
                                <a href="{% static 'images/portfolio-iot-systech-case.pdf' %}" data-lightbox-gallery="portfolio-gallery"><img src="{% static 'images/portfolio-iot-systech.jpg' %}" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box ivandv col-lg-4 col-md-4 col-sm-6">
                                <a href="{% static 'images/portfolio-ivv-cgs-case-1.pdf' %}" data-lightbox-gallery="portfolio-gallery"><img src="{% static 'images/portfolio-ivv-cgs.jpg' %}" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box consulting col-lg-4 col-md-4 col-sm-6">
                                <a href="{% static 'images/portfolio-consulting-ithome-case.jpg' %}" data-lightbox-gallery="portfolio-gallery"><img src="{% static 'images/portfolio-consulting-ithome.png' %}" alt="portfolio img"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- pricing section -->
<section id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <div class="section-title">
                    <strong>04</strong>
                    <h1 class="heading bold">價格</h1>
                    <hr>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="plan plan-one wow bounceIn" data-wow-delay="0.3s">
                    <div class="plan_title">
                        <i class="icon-mobile medium-icon"></i>
                        <h3>雲服務安全性</h3>
                        <h2><span>Start From</span></h2>
                        <h2><span>NTD</span>$12,500</h2>
                    </div>
                    <ul>
                        <li>網站弱點評估</li>
                        <li>主機弱點評估</li>
                        <li>程式原始碼安全性評估</li>
                    </ul>
                    <!-- <button class="btn btn-warning">Get it now</button> -->
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="plan plan-two wow bounceIn" data-wow-delay="0.3s">
                    <div class="plan_title">
                        <i class="icon-desktop medium-icon"></i>
                        <h3>雲服務效能驗測</h3>
                        <h2><span>Start From</span></h2>
                        <h2><span>NTD</span>$70,000</h2>
                    </div>
                    <ul>
                        <li>壓力測試</li>
                        <li>承載力測試</li>
                        <li>可用性測試</li>
                    </ul>
                    <!-- <button class="btn btn-warning">Take this!</button> -->
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="plan plan-three wow bounceIn" data-wow-delay="0.3s">
                    <div class="plan_title">
                        <i class="icon-cloud medium-icon"></i>
                        <h3>第三方驗測服務</h3>
                        <h2><span>Start From</span></h2>
                        <h2><span>NTD</span>$100,000</h2>
                    </div>
                    <ul>
                        <li>網站驗測</li>
                        <li>雲服務驗測</li>
                        <li>行動 App 資安檢測</li>
                    </ul>
                    <!-- <button class="btn btn-warning">Buy Now</button> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <div class="section-title">
                    <strong>05</strong>
                    <h1 class="heading bold">連絡我們</h1>
                    <hr>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 contact-info">
                <h2 class="heading bold">連絡資訊</h2>
                <p>如果您對網站安全性評估，效能測試有興趣，請連絡我們以獲取更多詳細資訊。</p>
                <div class="col-md-6 col-sm-4">
                    <h3><i class="icon-envelope medium-icon wow bounceIn" data-wow-delay="0.6s"></i> EMAIL</h3>
                    <p>鄭子立 Jeff Cheng</p>
                    <p>jeffcheng@iii.org.tw</p>
                </div>
                <div class="col-md-6 col-sm-4">
                    <h3><i class="icon-phone medium-icon wow bounceIn" data-wow-delay="0.6s"></i> PHONES</h3>
                    <p>鄭子立 Jeff Cheng</p>
                    <p>0909-433-227</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
             <!--    <form action="#" method="get" class="wow fadeInUp" data-wow-delay="0.6s">
                    <div class="col-md-6 col-sm-6">
                        <input type="text" class="form-control" placeholder="Name" name="name">
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <input type="email" class="form-control" placeholder="Email" name="email">
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <textarea class="form-control" placeholder="Message" rows="7" name="message"></textarea>
                    </div>
                    <div class="col-md-offset-4 col-md-8 col-sm-offset-4 col-sm-8">
                        <input type="submit" class="form-control" value="SEND MESSAGE">
                    </div>
                </form> -->
            </div>
        </div>
    </div>
</section>
<!-- footer section -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <p>Copyright © CloudTaas.org | Design: <a href="#" target="_parent">Tooplate</a></p>
                <hr>
                <ul class="social-icon">
                    <li>
                        <a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a>
                    </li>
                    <li>
                        <a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a>
                    </li>
                    <!-- <li><a href="#" class="fa fa-dribbble wow fadeIn" data-wow-delay="0.9s"></a></li>
					<li><a href="#" class="fa fa-behance wow fadeIn" data-wow-delay="0.9s"></a></li>
					<li><a href="#" class="fa fa-tumblr wow fadeIn" data-wow-delay="0.9s"></a></li> -->
                </ul>
            </div>
        </div>
    </div>
</footer>
{% endblock section_content %}
