{% extends 'pages/base.html' %} {% block section_content %} {% load staticfiles %}
<!-- home section -->
<section id="home">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <!-- <h3>WEB DESIGN / WEB DEVELOPMENT / SOCIAL MEDIA</h3> -->
                <h3>Cloud Security / Cloud Performance / IV&V</h3>
                <h1>Cloud Testing Lab</h1>
                <hr>
                <a href="#work" class="smoothScroll btn btn-danger">What we do</a>
                <a href="#contact" class="smoothScroll btn btn-default">Contact us</a>
                <!-- <a href="#" class="smoothScroll btn btn-default">Testing content</a> -->
            </div>
        </div>
    </div>
</section>
<!-- work section -->
<section id="work">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <strong>01</strong>
                    <h1 class="heading bold">WHAT WE DO</h1>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.6s">
                    <i class="icon-cloud medium-icon"></i>
                    <h3>Cloud Security</h3>
                    <h3>Testing</h3>
                    <hr>
                    <p>Web/SaaS Security Testing</p>
                    <p>HOST Security Testing</p>
                    <p>Source Code Security Testing</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="0.9s">
                    <i class="icon-mobile medium-icon"></i>
                    <h3>Performance</h3>
                    <h3>Testing</h3>
                    <hr>
                    <p>Cloud Performance Tuning</p>
                    <p>Capacity Evaluation</p>
                    <p>Availability Improvement</p>
                </div>
				<div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
                    <i class="icon-mobile medium-icon"></i>
                    <h3>IoT Cloud</h3>
                    <h3>Readiness Assessment Testing</h3>
                    <hr>
                    <p>Gateway capacity</p>
                    <p>Message ELT performance</p>
                    <p>Rules Engine efficiency</p>
                    <p>Data Storage</p>
                </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
                    <i class="icon-laptop medium-icon"></i>
                    <h3>Cloud Migration</h3>
                    <h3>Assessment Testing</h3>
                    <hr>
                    <p>Traditional to cloud Architecture</p>
                    <p>Private to Public Cloud migration</p>
                    <p>Configuration testing</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
                    <i class="icon-compass medium-icon"></i>
                    <h3>Cloud Computing</h3>
                    <h3>Technology Validation</h3>
                    <hr>
                    <p>Multi-tenancy</p>
                    <p>Broad Network Access</p>
                    <p>Resource Pooling / Rapid Elasticity</p>
                    <p>Measured Service</p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
                    <i class="icon-chat medium-icon"></i>
                    <h3>Private Testing Cloud Solution</h3>
                    <h3>[comming soon]</h3>
                    <hr>
                    <p>Build on OpenStack to help enterprises managing and testing their Web sites or SaaS.</p>
                </div>
              <!--   <div class="col-lg-4 col-md-4 col-sm-4 wow fadeInUp" data-wow-delay="1s">
                    <i class="icon-browser medium-icon"></i>
                    <h3>DevOps Testing Solution</h3>
                    <h3>[comming soon]</h3>
                    <hr>
                    <p>Build on open source technologies to help enterprises move from traditional waterfall software development model to agile / DevOps</p>
                </div> -->
            </div>
        </div>
    </div>
</section>
<!-- about section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <div class="section-title">
                    <strong>02</strong>
                    <h1 class="heading bold">ABOUT US</h1>
                    <hr>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <img src="{% static 'images/about-img.jpg' %}" class="img-responsive" alt="about img">
            </div>
            <div class="col-md-6 col-sm-12">
                <h3 class="bold">Cloud Testing Lab</h3>
                <h1 class="heading bold">Web Testing Team From Taiwan</h1>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#history" aria-controls="design" role="tab" data-toggle="tab">History</a></li>
                    <li><a href="#experience" aria-controls="experience" role="tab" data-toggle="tab">Experience</a></li>
                    <li><a href="#pre_web_site" aria-controls="pre_web_site" role="tab" data-toggle="tab">Previous Web site</a></li>
                </ul>
                <!-- tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="history" style="text-align:justify;">
                        <p>Founded in 2012 as a government project team. The purpose is to support government cloud migration policy and perform V&V testing as well as performance tuning service for newly developed government cloud. Besides government, we also provide testing services to local cloud service providers to help them do better cloud migration with good performance. </p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="experience">
                        <p>Cloud Security & Performance Testing</p>
                        <p>IoT Cloud Readiness Assessment Testing</p>
                        <p>Cloud Migration Assessment Testing</p>
                        <p>Cloud Computing Technology Validation</p>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="pre_web_site" style="text-align:justify;">
                        <p>To previous website <a href="https://www.cloudopenlab.org.tw/index.do" target="_blank">Cloud Open Lab</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- team section -->
<!-- <section id="team">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<div class="section-title">
					<strong>03</strong>
					<h1 class="heading bold">TALENTED TEAM</h1>
					<hr>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="0.9s">
				<div class="team-wrapper">
					<img src="{% static 'images/team1.jpg' %}" class="img-responsive" alt="team img">
						<div class="team-des">
							<h4>Cindy</h4>
							<h3>Senior Designer</h3>
							<hr>
							<ul class="social-icon">
								<li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a></li>
								<li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a></li>
								<li><a href="#" class="fa fa-dribbble wow fadeIn" data-wow-delay="0.9s"></a></li>
							</ul>
						</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="1.3s">
				<div class="team-wrapper">
					<img src="{% static 'images/team2.jpg' %}" class="img-responsive" alt="team img">
						<div class="team-des">
							<h4>Mary</h4>
							<h3>Core Developer</h3>
							<hr>
							<ul class="social-icon">
								<li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a></li>
								<li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a></li>
								<li><a href="#" class="fa fa-dribbble wow fadeIn" data-wow-delay="0.9s"></a></li>
							</ul>
						</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="1.6s">
				<div class="team-wrapper">
					<img src="{% static 'images/team3.jpg' %}" class="img-responsive" alt="team img">
						<div class="team-des">
							<h4>Linda</h4>
							<h3>Manager</h3>
							<hr>
							<ul class="social-icon">
								<li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a></li>
								<li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a></li>
								<li><a href="#" class="fa fa-dribbble wow fadeIn" data-wow-delay="0.9s"></a></li>
							</ul>
						</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 wow fadeIn" data-wow-delay="1.6s">
				<div class="team-wrapper">
					<img src="{% static 'images/team4.jpg' %}" class="img-responsive" alt="team img">
						<div class="team-des">
							<h4>Sandar</h4>
							<h3>Accountant</h3>
							<hr>
							<ul class="social-icon">
								<li><a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a></li>
								<li><a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a></li>
								<li><a href="#" class="fa fa-dribbble wow fadeIn" data-wow-delay="0.9s"></a></li>
							</ul>
						</div>
				</div>
			</div>
		</div>
	</div>
</section> -->
<!-- portfolio section -->
<div id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="section-title">
                    <strong>03</strong>
                    <h1 class="heading bold">OUR PORTFOLIO</h1>
                    <hr>
                </div>
                <!-- ISO section -->
                <div class="iso-section">
                    <ul class="filter-wrapper clearfix">
                        <li><a href="#" data-filter="*" class="selected opc-main-bg">All</a></li>
                        <li><a href="#" class="opc-main-bg" data-filter=".cloud">CLOUD</a></li>
                        <li><a href="#" class="opc-main-bg" data-filter=".iot">IoT</a></li>
                        <li><a href="#" class="opc-main-bg" data-filter=".ivandv">IV&V</a></li>
                        <li><a href="#" class="opc-main-bg" data-filter=".consulting">CONSULTING</a></li>
                    </ul>
                    <div class="iso-box-section wow fadeIn" data-wow-delay="0.9s">
                        <div class="iso-box-wrapper col4-iso-box">
                            <div class="iso-box cloud col-lg-4 col-md-4 col-sm-6">
                                <a href="{% static 'images/portfolio-cloud-hundred_plus-case.pdf' %}" data-lightbox-gallery="portfolio-gallery"><img src="{% static 'images/portfolio-cloud-hundred_plus.jpg' %}" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box iot col-lg-4 col-md-4 col-sm-6">
                                <a href="{% static 'images/portfolio-iot-wavegis-case.pdf' %}" data-lightbox-gallery="portfolio-gallery"><img src="{% static 'images/portfolio-iot-wavegis.jpg' %}" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box iot col-lg-4 col-md-4 col-sm-6">
                                <a href="{% static 'images/portfolio-iot-systech-case.pdf' %}" data-lightbox-gallery="portfolio-gallery"><img src="{% static 'images/portfolio-iot-systech.jpg' %}" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box ivandv col-lg-4 col-md-4 col-sm-6">
                                <a href="{% static 'images/portfolio-ivv-cgs-case-1.pdf' %}" data-lightbox-gallery="portfolio-gallery"><img src="{% static 'images/portfolio-ivv-cgs.jpg' %}" alt="portfolio img"></a>
                            </div>
                            <div class="iso-box consulting col-lg-4 col-md-4 col-sm-6">
                                <a href="{% static 'images/portfolio-consulting-ithome-case.jpg' %}" data-lightbox-gallery="portfolio-gallery"><img src="{% static 'images/portfolio-consulting-ithome.png' %}" alt="portfolio img"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- pricing section -->
<section id="pricing">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <div class="section-title">
                    <strong>04</strong>
                    <h1 class="heading bold">OUR PRICING</h1>
                    <hr>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="plan plan-one wow bounceIn" data-wow-delay="0.3s">
                    <div class="plan_title">
                        <i class="icon-mobile medium-icon"></i>
                        <h3>Cloud Security</h3>
                        <h2><span>Start From</span> $12000</h2>
                    </div>
                    <ul>
                        <li>Web Vulnerability Assessment</li>
                        <li>Host OS Vulnerability Assessment</li>
                        <li>Source Code Static Assessment</li>
                    </ul>
                    <button class="btn btn-warning">Get it now</button>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="plan plan-two wow bounceIn" data-wow-delay="0.3s">
                    <div class="plan_title">
                        <i class="icon-desktop medium-icon"></i>
                        <h3>Cloud Performance</h3>
                        <h2><span>Start From</span> $30000</h2>
                    </div>
                    <ul>
                        <li>Load / Stress Testing</li>
                        <li>Capacity Testing</li>
                        <li>Availability Testing</li>
                    </ul>
                    <button class="btn btn-warning">Take this!</button>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="plan plan-three wow bounceIn" data-wow-delay="0.3s">
                    <div class="plan_title">
                        <i class="icon-cloud medium-icon"></i>
                        <h3>IV&V</h3>
                        <h2><span>Start From</span> $80000</h2>
                    </div>
                    <ul>
                        <li>Web IV&V</li>
                        <li>Cloud IV&V</li>
                        <li>App Compliance Testing</li>
                    </ul>
                    <button class="btn btn-warning">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 text-center">
                <div class="section-title">
                    <strong>05</strong>
                    <h1 class="heading bold">CONTACT US</h1>
                    <hr>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 contact-info">
                <h2 class="heading bold">CONTACT INFO</h2>
                <p>If you are interested web testing / load performance / security, please contact us for detail information.</p>
                <div class="col-md-6 col-sm-4">
                    <h3><i class="icon-envelope medium-icon wow bounceIn" data-wow-delay="0.6s"></i> EMAIL</h3>
                    <p>Jeff Cheng</p>
                    <p>jeffcheng@iii.org.tw</p>
                </div>
                <div class="col-md-6 col-sm-4">
                    <h3><i class="icon-phone medium-icon wow bounceIn" data-wow-delay="0.6s"></i> PHONES</h3>
                    <p>Jeff Cheng</p>
                    <p>0909-433-227</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
                <form action="#" method="get" class="wow fadeInUp" data-wow-delay="0.6s">
                    <div class="col-md-6 col-sm-6">
                        <input type="text" class="form-control" placeholder="Name" name="name">
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <input type="email" class="form-control" placeholder="Email" name="email">
                    </div>
                    <div class="col-md-12 col-sm-12">
                        <textarea class="form-control" placeholder="Message" rows="7" name="message"></textarea>
                    </div>
                    <div class="col-md-offset-4 col-md-8 col-sm-offset-4 col-sm-8">
                        <input type="submit" class="form-control" value="SEND MESSAGE">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- footer section -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <p>Copyright © Cloud Testing Lab | Design: <a href="http://www.tooplate.com" target="_parent">Tooplate</a></p>
                <hr>
                <ul class="social-icon">
                    <li>
                        <a href="#" class="fa fa-facebook wow fadeIn" data-wow-delay="0.3s"></a>
                    </li>
                    <li>
                        <a href="#" class="fa fa-twitter wow fadeIn" data-wow-delay="0.6s"></a>
                    </li>
                    <!-- <li><a href="#" class="fa fa-dribbble wow fadeIn" data-wow-delay="0.9s"></a></li>
					<li><a href="#" class="fa fa-behance wow fadeIn" data-wow-delay="0.9s"></a></li>
					<li><a href="#" class="fa fa-tumblr wow fadeIn" data-wow-delay="0.9s"></a></li> -->
                </ul>
            </div>
        </div>
    </div>
</footer>
{% endblock section_content %}
